<div class="content-wrapper">
  <div class="content-table">
    <div class="preview">
      <div class="phone">
        <%= image_tag "iphonex@2x.png", :class => "iphone" %>
      </div>
    </div>
    <div class="download">
      <%= image_tag "logofin1@2x.png", :class => "logo" %>
      <%= image_tag "Connect2.png", :class => "logo1" %>
      <!-- <div class="download-btn">
        <a href="" class="btn-medium">
          <img class="icon" src="apple_logo.png">
        </a>
      </div>

      <div class="download-btn">
        <a href="" class="btn-medium">
          <img class="icon" src="android_logo.png">
        </a>
      </div> -->
    </div>
  </div>
</div>

<div class="content-wrapper1">
  <div class="content-table1">
    <div class="preview1">
      <h3 class="slogan2">What if you could send messages to anyplace you want ...</h3>


      <div class="phone1">
        <%= image_tag "iphone4.png", :class => "style_image1" %>
        <div class="circle">
            <span class="border-animation ba1"></span>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="content-wrapper2">
  <div class="content-table1">
    <div class="preview1">
      <div class="phone2">
        <%= image_tag "iphone3@2x.png", :class => "style_image2" %>
      </div>
      <h3 class="slogan3">... and get personal answers from people who are there ?</h3>


    </div>
  </div>
</div>

<div class="content-wrapper">
  <div class="content-table1">

  </div>
</div>







